#navbar {
    background-color: var(--light-purp);
    border-bottom: 5px solid var(--dark-purp);
}

#navbar a:active {
    font-weight: bold;
}

#navbar a:hover {
    font-weight: bold;
}

#loggedInNav {
    display: flexbox;
}