#navbar {
    background-color: var(--violet);
    border-bottom: 5px solid var(--dark-purp);
}

#navbar a {
    text-decoration: none;
}

#navbar a:active,
.mobileMenuItem {
    font-weight: bold;
}

#navbar a:hover {
    font-weight: bold;
}

#loggedInNav {
    display: flexbox;
}

.mobileMenuItem a {
    text-decoration: none;
    color: #000;
}

/* button {
    background-color: transparent !important;
} */