:root {
    --dark-purp: #22162B;
    --light-purp: #451F55;
    --violet: #724E91;
    --pink: #E54F6D;
    --yellow: #F8C630;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../pages/assets/images/yellow_dog_wallpaper_85.jpg');
    background-attachment: fixed;
}

body::after {
    opacity: 0.2;
}

h1, h2 {
    font-family: caraque-melted, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

.main-container {
    margin-top: 10px;
    margin-bottom: 75px;
}

.main-container button {
    background-color: var(--pink) !important;
}